<div class="fullbody" id="contact">
    <h2>
        <span class="titulo">CONTACTO</span>
    </h2>
    <hr>
    <div class="redes">
        <a href="https://github.com/IngKevel" target="-blank" class="icons">
            <img class="social" src="../../../assets/images/contacto/GitHub-Logo.png" data-toggle="tooltip" data-placement="top" title="GitHub" alt="GitHub">
        </a>
        <a href="https://keveldev.com/Contacto" class="icons">
          <img class="social" src="../../../assets/images/contacto/email.png" data-toggle="tooltip" data-placement="top" title="Email" alt="Email">
        </a>
        <a href="https://www.linkedin.com/in/ing-kevin-velez/" target="-blank" class="icons">
            <img class="social" src="../../../assets/images/contacto/linkedin logo.png" data-toggle="tooltip" data-placement="top" title="Linkedin" alt="Linkedin">
        </a>
    </div>
</div>
