<div class="fullbody" id="contact">
    <h2>
        <span class="titulo">CONTACTO</span>
    </h2>
    <hr>
    <div class="redes">
        <p>Para mayor informes contacte al siguiente correo:</p>
    </div>
    <div class="redes">
        <a class="mail">
            IngKevinVelez@lacuevadelbot.com
        </a>
    </div>
    <div class="redes">
        <p>Otras formas de contacto:</p>
    </div>
    <div class="redes">
        <a href="https://github.com/IngKevel" target="-blank">
            <img class="social" src="../../../assets/images/contacto/GitHub-Logo.png" data-toggle="tooltip" data-placement="top" title="GitHub" alt="GitHub">
        </a>
        <a href="https://www.linkedin.com/in/ing-kevin-velez/" target="-blank">
            <img class="social" src="../../../assets/images/contacto/linkedin logo.png" data-toggle="tooltip" data-placement="top" title="Linkedin" alt="Linkedin">
        </a>
    </div>
</div>
