.footer {
    background: #444141;
    color: #F5F5F5;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    font-family: 'Source Code Pro', sans-serif;
}

.footer p {
    text-align: center;
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .footer {
        padding-bottom: 7rem;
    }
}