/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(243, 243, 243);
}

body ::-webkit-scrollbar {
    width: 0.25rem;
}

body ::-webkit-scrollbar-track {
    background: #1e1e24;
}

body ::-webkit-scrollbar-thumb {
    background: #fd2828;
}