h2 {
    color: #F5F5F5;
    font-family: 'Source Code Pro', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

hr {
    height: 0.1rem;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 0;
    background-image: linear-gradient(to right, transparent, #BF0606, transparent);
}

.body {
    background: #444141;
    margin-top: 100px;
    padding-bottom: 50px;
    margin-left: 50px;
}

.skillspace {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.card {
    width: 100px;
    height: 80px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.skill {
    border-radius: 10%;
    width: 100%;
}

.card .info {
    position: relative;
    z-index: 3;
    color: #F5F5F5;
    opacity: 0;
    font-weight: bold;
    transition: 0.5s all;
    font-family: 'Source Code Pro', sans-serif;
}

.card:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .body {
        margin-left: 0px;
    }

    .card {
        width: 80px;
        height: 60px;
    }
}