<div class="body" id="skillset">
    <br>
    <h2>
        <span>HABILIDADES</span>
    </h2>
    <hr>
    <div class="skillspace">
        <div class="card" *ngFor="let skill of skills1">
            <img class="skill" src="../../../assets/images/skills/{{skill.icon}}.svg" data-toggle="tooltip" data-placement="top" title="{{skill.name}}" alt="{{skill.name}}">
            <div class="info">
                <p>{{skill.name}}</p>
            </div>
        </div>
    </div>
    <div class="skillspace">
        <div class="card" *ngFor="let skill of skills2">
            <img class="skill" src="../../../assets/images/skills/{{skill.icon}}.svg" data-toggle="tooltip" data-placement="top" title="{{skill.name}}" alt="{{skill.name}}">
            <div class="info">
                <p>{{skill.name}}</p>
            </div>
        </div>
    </div>
    <div class="skillspace">
        <div class="card" *ngFor="let skill of skills3">
            <img class="skill" src="../../../assets/images/skills/{{skill.icon}}.svg" data-toggle="tooltip" data-placement="top" title="{{skill.name}}" alt="{{skill.name}}">
            <div class="info">
                <p>{{skill.name}}</p>
            </div>
        </div>
    </div>
    <div class="skillspace">
        <div class="card" *ngFor="let skill of skills4">
            <img class="skill" src="../../../assets/images/skills/{{skill.icon}}.svg" data-toggle="tooltip" data-placement="top" title="{{skill.name}}" alt="{{skill.name}}">
            <div class="info">
                <p>{{skill.name}}</p>
            </div>
        </div>
    </div>
    <div class="skillspace">
        <div class="card" *ngFor="let skill of skills5">
            <img class="skill" src="../../../assets/images/skills/{{skill.icon}}.svg" data-toggle="tooltip" data-placement="top" title="{{skill.name}}" alt="{{skill.name}}">
            <div class="info">
                <p>{{skill.name}}</p>
            </div>
        </div>
    </div>
</div>